  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Control Point</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">MENU</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <% if (lv_access==1) { %>
                <label class="nav-link active text-uppercase" aria-current="page" href="#">COLABORADOR: <%= name %>
                    </label>
                <% } %>
                  <% if (lv_access==2) { %>
                    <label class="nav-link active text-uppercase" aria-current="page" href="#">ADMIN: <%= name %>
                        </label>
                    <% } %>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Reports
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">Reportar um problema</a></li>
                <li><a class="dropdown-item" href="#">Alterar senha</a></li>
                <li><a class="dropdown-item" href="#">Verificar informações da conta</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Excluir Conta</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Minha Conta
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">Reportar um problema</a></li>
                <li><a class="dropdown-item" href="#">Alterar senha</a></li>
                <li><a class="dropdown-item" href="#">Verificar informações da conta</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Excluir Conta</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Gerenciamento de Pontos
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">Reportar um problema</a></li>
                <li><a class="dropdown-item" href="#">Alterar senha</a></li>
                <li><a class="dropdown-item" href="#">Verificar informações da conta</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Excluir Conta</a></li>
              </ul>
            </li>

            <% if (lv_access==2) { %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Gerenciamento Sistema
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="#">Usuarios</a></li>
                  <li><a class="dropdown-item" href="#">Metricas</a></li>
                  <li><a class="dropdown-item" href="#">Gerenciamento de repositorios</a></li>
                  <li><a class="dropdown-item" href="#">Report</a></li>
                </ul>
              </li>
              <% } %>

                <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>